.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.projects-container h3 {
    font-size: 30px;
    margin-bottom: 3rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-right: 4rem;
    text-align: end;
}

.project-content h4 {
    font-size: 20px;
    text-align: end;
}

.project-content p {
   color: #808080;
}

.project-img {
    width:  90%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.project-tecnology img {
    width: 40px;
    height: 40px;
}
    
.project-buttons button{
    border: 2px solid #000;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .1em;
    text-decoration: none;
    background: none;
    padding: 12px 20px;
    min-width: 170px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.project-buttons button:hover{
    color: #fff;
}

.project-buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.deploy::before {
    transform: scaleX(0);
}

.repository::before {
    transform: scaleY(0);
}

.deploy:hover::before {
    transform: scaleX(1);
}

.repository:hover::before {
    transform: scaleY(1);
}